<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
</head>

<body><div class="navbar">
    <nav class="headernav">
        <div class="homepage_navbar">
            <ul class="homepagelink">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <ul class="menu">
            <li><a href="/exercises">View exercises</a></li>
            <li><a href="/profile">View workouts</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
</div>

<div class="shitmix">
    <p> </p>
</div>
<h2>Search for exercises</h2>
<div class="container">
    <form action="#" th:action="@{/exerciseSearch}" th:object="${exercise}" method="post">
        <div class="rowContainer">
            <input type="text" name="search" id="search" th:value="${search}"/>
            <input type="submit" value="Search"/>
        </div>
    </form>
</div>

</body>
</html>