<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>

<div class="navbar">
    <nav class="headernav">
        <div class="homepage_navbar">
            <ul class="homepagelink">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <ul class="menu">
            <li><a href="/exercises">View exercises</a></li>
            <li><a href="/profile">View workouts</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </nav>
</div>

</body>
</html>